<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>목록 태그</title>
</head>
<body>
<p align="center"><img src="../../resource/ammeong.jpg" width="200" height="200"/></p>

<img src = "../../resource/2.png" align="left" width="300" height="200"/>
<img src = "../../resource/5.png" align="right" width="300" height="200"/>
<center>
	<br/><br/><br/><br/><br/>
	<b> 그리핀과 젠지</b>
	<br/>
	그리핀은 그냥 잘합니다.
	<br/>
	젠지는 그냥 내가 좋아합니다.
	<br/><br/><br/><br/> <br/><br/>
</center>
	<h3>순서없는 목록</h3>
	<ul type="square">
		<li>아이폰</li>
		<li>안드로이드</li>
		<li>타이젠</li>
	</ul>
	<h3>순서있는 목록</h3>
	<ol style="list-style-type:hiragana">
		<li>아이폰</li>
		<li>안드로이드</li>
		<li>타이젠</li>
	</ol>
	<h3>정의형 목록</h3>
	<dl>
		<dt>FrontEnd</dt>
		<dd>사용자에게 보여지는 부분</dd>
		
	
	</dl>
	
</body>
</html>