<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>위치정보 사용</title>
</head>
<body>
	<div id="map" style="width:500px;height:400px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7b3b9e93fd04abaa67fd414ec36b827d"></script>

<script>
	navigator.geolocation.getCurrentPosition(function(position){
		var container = document.getElementById('map');
		var options = {
				center: new daum.maps.LatLng(position.coords.latitude, position.coords.longitude),
				level: 3
				
			};
		var map = new daum.maps.Map(container, options);
		
		var markerPosition = new daum.maps.LatLng(position.coords.latitude, position.coords.longitude);
		
		var marker = new daum.maps.Marker({
			position:markerPosition
		});
		
		marker.setMap(map);
		
	},function(error){
		alert(error.message)
	})
</script>
</body>
</html>