<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>함수</title>
</head>
<body>
	<input type="button" value="함수 호출" id="btn"/>
</body>
<script>
/*
  function func(){}
     이렇게도 할 수 있지만 아래처럼 변수에 함수의 내용을 저장하는 것을 권장
 */
	var func = function(){
		console.log("함수 만들기")
	}

	//함수 호출
	func()
	
	//이벤트에 연결해서 함수 호출
	document.getElementById("btn").addEventListener('click',func)
	
	//정수를 받아서 2진수로 출력하는 함수
	//반복문과 나머지 이용
	var bin = function(dec){
		var display=""
		var cnt=0
		while(dec !=0){	//몫이 0이 아니라
			mod = dec%2	//나머지를 구합니다.
			display=mod + display //나머지에다가 이전 나머지를 문자열 형태로 추가
			cnt=cnt+mod
			dec=parseInt(dec/2) //몫을 구합니다.
		}
		console.log(dec+"의 2진수:"+display)
		console.log("1의 개수 :"+cnt)	
	}
	bin(19)
	
	//배열과 검색할 데이터 1개를 매개변수로 받아서
	//배열에 데이터가 있는 경우 그 위치를 리턴하고 배열에 데이터가 없으면 -1을 리턴하는 함수
	//배열의 데이터 개수는 .length
	var sequentialsearch = function(ar,num){
		//ar의 모든인덱스가 idx에 대입
		var result=-1
		for(var idx in ar){
			if(ar[ar.length-idx-1]===num){
				result=ar.length-idx-1
				break
			}
		}
		return result
	}
	var numlist=[80,90,76,54,76]
	console.log(numlist.length)
	console.log("76의 위치는 :"+ sequentialsearch(numlist,76))//2 출력
	console.log("88의 위치는 :"+ sequentialsearch(numlist,88)) //-1 출력
	
	var f = function(x,y){
		console.log(x)
		console.log(y)
	}
	f(10)	//매개변수가 2개인 함수를 호출할 때 매개변수를 1개만 대입하면 두번째 매개변수에는 undefined 설정
	
	var noarg = function(){
		//자바스크립트 함수에는 arguments라는 매개변수 배열 변수가 존재. C언어에도 존재합니다.
		for(var idx in arguments){
			console.log(arguments[idx])
		}
	}
	noarg(10)
	noarg(10,20)
	
</script>
</html>